.sidebar {
    background-color: #ffffff;
}

.main-content {
    background-color: #f3f3f4;
}

.custom-menu {
    position: sticky;
    left: 205px;
    top: 50px;
    z-index: 1;
}

/* #sidebarCollapse {
} */