.main-sidebar {
    background-color: #ffffff;
}

.main-content {
    background-color: #f3f3f4;
}

.custom-menu {
    float: right;
    
}

.sidebar-button {
    padding: 0;
    border: none;
    background: none;
}

  .sidebar {
    position: absolute;
    top: 0px;
    left: -15vw;
    height: 100%;
    width: 15vw;
    transition: left 0.3s ease-in-out;
    background-color: #ffffff;      
  }
  .sidebar-toggle {
    position: absolute;
    top: 10%;
    right: -40px;
    height: 40px;
    width: 40px;
    z-index: 1;
    border: none;
    background-color: #ffffff;
  }
  .sidebar.open {
    left: 0;
  }
  .content.open {
    left: 15vw;
  }
  
